* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f2f1;
}

.scheduleContainer {

    background-color: #f3e8e5;
    justify-content: space-between;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.privateCheckbox {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    margin-bottom: 10px;
}

.schedule {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day{
    font-weight: bold;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

.slot, .empty {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    min-height: auto;
}

.slot input[type="checkbox"] {
    margin-right: 5px;
}

.slot label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.status {
    color: green;
    font-size: 12px;
    margin-left: 5px;
}

.empty{
    background-color: #e0d6d4;
}

.availability-info {
    font-size: 14px;
    margin: 10px 0;
}

.advisory {
    background-color: #f8e8c5;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.confirm-button {
    display: block;
    margin: 0 auto;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    place-items: center;
}

.confirm-button:hover {
    background-color: #45a049;
}
